// Body
$body-bg: #242424;
$label-color: #fff;
$label-hover: #c28501;

// Typography
$font-family-base: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font-size-base: 0.9rem;
$line-height-base: 1.6;
