.btn-base-dv {
    color: white !important;
    background-color: #E09900 !important;
}

.btn-base-dv:hover{
    background-color: #c28501 !important;
}

.btn-base-dv.active{
    background-color: #c28501 !important;
    background-color: #c28501 !important;
}